@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.About>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Layout.cshtml";
    var aboutContent = (ContentModels.About)Model.Root();

}

<div class="row">

    <div class="col-9">
        @aboutContent.About_title
    </div>
    <div class="col-3">
        <img src="@aboutContent.About_logo.Url"/>
    </div>

</div>
<div class="row">
    @aboutContent.About_content
</div>
<div>
    @aboutContent.About_video_url
</div>