@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ChefList>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = null;
   // var chefslst = (ContentModels.ChefList)Model.Root().Children().Where(c => c.IsDocumentType("chefList")).FirstOrDefault();

}

<!-- Team Members section -->
<div class="row section">
    
      Display Chef Lsit
    
</div>