@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Layout.cshtml";
    var homeContent = (ContentModels.Home)Model.Root();
  
}

<p></p>Mom &Dad I Love You</p>

<!-- Jumbotron, w title -->
<div class="jumbotron text-center jumbotron-fluid">
    <div class="container">
        <h1 class="display-1">Welcome - UmbracoTV</h1>
        <p>@Model.Value("home_title")</p>
    </div>
</div>

<div>
    @homeContent.Home_content
</div>
<img src="@homeContent.Home_image.Url" />

<iframe src='https://www.juicer.io/api/feeds/83b434da-c1d6-4ca7-a785-95a46be1ed23/iframe' frameborder='0' width='1000' height='1000' style='display:block;margin:0 auto;'></iframe>