@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Layout.cshtml";
    var homeContent = (ContentModels.Home)Model.Root();
  
}



<!-- Jumbotron, w title -->
<div class="jumbotron text-center jumbotron-fluid">
    <div class="container">
        <h1 class="display-1">Welcome - UmbracoTV</h1>
        <p>@Model.Value("home_title")</p>
    </div>
</div>

<div>
    @homeContent.Home_content
</div>
<img src="@homeContent.Home_image.Url" />